.row
  .col-sm-12
    %p
      .input-group
        %span.input-group-addon This board public URL:
        - share_url = board_url(@conn, :show, @board_id)
          %input#share-url.form-control{type: "text", value: "#{share_url}", readonly: true}
        %span.input-group-btn
          %button#share-url-btn.btn.btn-default{type: "button", data-clipboard-target: "#share-url"}
            %i.fa.fa-clipboard

.row
  .col-sm-12
    %table#board.table.table-bordered{data-board-id: @board_id}
      %thead
        %tr
          %th Project
          %th Blog
          %th Apply
          %th Suggest
          %th Extend
          %th Document
          %th Evangelize
          %th Fix
      %tbody
        %tr.new-project-row
          %td{colspan: 8}
            %form.input-group.col-xs-3
              %input.form-control{type: "text", placeholder: "New project name"}
              %span.input-group-btn
                %button.btn.btn-success{type: "submit"}
                  %i.fa.fa-plus

.row
  .col-sm-12
    %p
      .well
        %span For rules and methodology, please refer to&nbsp;
        %a{href: "http://begriffs.com/posts/2016-01-29-making-twenty-percent-time-work.html"} Joe Nelson's original blogpost
