.jumbotron
  background-color: $flat-blue-dark
  color: $flat-white
  margin-bottom: 100px

.board-submission
  margin-top: 50px

  input:focus
    border-color: transparent

#rules
  text-align: center
  margin-bottom: 100px

  img
    width: 220px
    height: 220px
